<marquee><img width="auto" height="auto" src="https://cdn.discordapp.com/attachments/608396423024738367/921171588148244611/new.gif" alt="new"/> profile page best viewed on a shit computer (in construction)</marquee>

<div style="margin-top:-15px;"><img width="auto" height="auto" src="https://cdn.discordapp.com/attachments/608396423024738367/921171587678474350/mwmac.gif" alt="made with a mac"/></div>
<div style="display:flex"><div style="width:40%;height:auto;"><img width="50%" height="auto" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fphoneky.co.uk%2Fthumbs%2Fscreensavers%2Fdown%2Foriginal%2Fgraffiti_oaawwbqf.gif&f=1&nofb=1" alt="graffiit"/><img width="50%" height="auto" src="https://c.tenor.com/5OEw3IItz64AAAAj/co2-linke-soep.gif" alt="graffiit"/></div><div style="width:60%;height:auto;">
producer, rapper, procrastinator and songwriter (update: guitarist and drummer). I like art. I hate music.
professional degenerate & wanna be <strike>emo or scene idk</strike> whatever i feel like atm
</div></div>
<br/>

<style>.dancer{filter:invert(1);background: url(https://external-media.spacehey.net/media/sds9dgmAt1o1Pxto8dNfR-1pJF4PY7Gd-XIDEzOuEyJg=/https://c.tenor.com/vVFWZEdwWOEAAAAS/underwear-guy.gif); height:230px; width:230px; background-size:230px;}.picturetext{filter:opacity(0)}</style>

<style>.bergen{filter:invert(1);background: url(https://i.makeagif.com/media/7-29-2016/pvZC50.gif); height:133px; width:200px; background-size:200px}.picturetext{filter:opacity(0)}</style>

<div style="display:flex"><div style="width:40%;height:auto;">i will be autoplaying my own music when i got time to post them onine ;} </div><div style="width:60%;height:auto;"><img width="auto" height="auto" src="https://c.tenor.com/TJ38B0u-2OQAAAAi/you-are-dead-dead.gif" alt="youre dead!"/></div></div>

<br/>

in the meantime i will be autoplaying some songs (also im working on a new layout; bricks are stale)<br/>
<br/>
<div style="display:flex;justify-content:center;"><iframe width="400px" height="400px" src="https://www.youtube.com/embed/videoseries?autoplay=1&;loop=1&;controls=1&list=PLn_VHNPcuqPZoxsqGX5rXzZB2yq4r-gbx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
my friends
<style>body{color:green;}</style></iframe></div> <br/>

<div style="display:flex;justify-content:center;"><p class="demo rainbow">swag</p></div>


<style>
.container{width: 999px; border:2px solid black; border-style: dotted;}
.gun{filter:opacity(50%);filter:invert(1);}
body{border:2px black;
border-style: dotted;}
</style>

<style>
body{
background: url(https://cdn.wallpapersafari.com/95/34/X0qac3.jpg);
background-size:85%;
font-family: monospace;
font-size: x-large;
}
.top,.links{
filter: invert(1);
}
</style>
<style>

.snowflake {
  color: #fff;
  font-size: 2em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px rgba(0,0,0,0.7);
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
</style>

<style>
@keyframes floating {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateX(1%);
    }
}

.loseite{
    animation-name: floating !important;
    animation-duration: 0.2s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: ease-in-out !important;
}
</style>
<img width="100%" height="auto" src="https://cdn.discordapp.com/attachments/608396423024738367/915516839650549780/cooltext399107098546004.gif" alt="punk4eva"/>
<div style="display:flex;justify-content:center;">
<a href="https://yesterweb.org/no-to-web3/" target="_blank"><img style="border:1px solid red;" src="https://auzziejay.com/images/noweb32.gif"/></a>
<a href="https://yesterweb.org/no-to-web3/" target="_blank"><img style="border:1px solid red;" src="https://yesterweb.org/no-to-web3/img/roly-saynotoweb3.gif"/></a>
<a href="https://yesterweb.org/no-to-web3/" target="_blank"><img style="border:1px solid red;" src="https://yesterweb.org/no-to-web3/img/roly-saynotoweb3.gif"/></a>
<a href="https://yesterweb.org/no-to-web3/" target="_blank"><img style="border:1px solid red;" src="https://auzziejay.com/images/noweb32.gif"/></a>
</div>


<style>
main{background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      );
filter:invert(1);}
img, iframe{filter:invert(1);}
span{filter:filter(1);}
.icon.emoji{filter:invert(1);}
</style>

<style>
.demo{
  font-size:10em;
  float:left;
  text-align:center;
}
.rainbow{
		animation: rainbow 2.5s linear;
		animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
		100%,0%{
			background-color: rgb(255,0,0);
		}
		8%{
			background-color: rgb(255,127,0);
		}
		16%{
			background-color: rgb(255,255,0);
		}
		25%{
			background-color: rgb(127,255,0);
		}
		33%{
			background-color: rgb(0,255,0);
		}
		41%{
			background-color: rgb(0,255,127);
		}
		50%{
			background-color: rgb(0,255,255);
		}
		58%{
			background-color: rgb(0,127,255);
		}
		66%{
			background-color: rgb(0,0,255);
		}
		75%{
			background-color: rgb(127,0,255);
		}
		83%{
			background-color: rgb(255,0,255);
		}
		91%{
			background-color: rgb(255,0,127);
		}
}

@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}
.blog-preview::before{
filter:invert(1);
background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FQ9ASMCXM0GK9pR4BuT%2Fgiphy.gif&f=1&nofb=1') no-repeat;
content: '';
background-size: 225px;
  display: block;
  width: 225px;
  height: 225px;
  z-index: 999;
  position: absolute;
  top: 0px;
left: 1050px;
}
</style>

<div class="mp3xp"></div>
<style>
.container .mp3xp::after{
filter:invert(1);
background: url('https://media.discordapp.net/attachments/608396423024738367/933697077148520458/unknown.png') no-repeat;
content: '';
background-size: 250px;
  display: block;
  width: 250px;
  height: 250px;
  z-index: 999;
  position: absolute;
  top: 200px;
left: -300px;
}
</style>

<div class="tag"></div>
<style>
.container .tag::after{
filter:invert(1);
background: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.freepngimg.com%2Fdownload%2Fgraffiti%2F31885-8-graffiti-transparent.png&f=1&nofb=1') no-repeat;
content: '';
background-size: 250px;
  display: block;
  width: 250px;
  height: 250px;
  z-index: 999;
  position: absolute;
  top: 700px;
left: 1000px;
}
</style>
<div class="breaker1"></div>
<style>
.container .breaker1::after{
filter:invert(1);
background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2Fs205NhCpfvYSA%2Fgiphy.gif&f=1&nofb=1') no-repeat;
content: '';
background-size: 250px;
  display: block;
  width: 250px;
  height: 250px;
  z-index: 999;
  position: absolute;
  top: 400px;
left: -300px;
}
</style>
<div class="rail1"></div>
<style>
.container .rail1::after{
filter:invert(1);
background: url('https://media3.giphy.com/media/l378oiRGYRb8XOHJe/giphy.gif?cid=ecf05e47thpyyetbta965a3qlij4lml1eoaeamq0937y3gjq&rid=giphy.gif&ct=s') no-repeat;
content: '';
background-size: 250px;
  display: block;
  width: 250px;
  height: 250px;
  z-index: 999;
  position: absolute;
  top: 1250px;
left: -100px;
  -webkit-transform: rotate(-105deg);
    -moz-transform: rotate(-105deg);
    -ms-transform: rotate(-105deg);
    -o-transform: rotate(-105deg);
    transform: rotate(-105deg);
}
</style>
<div class="skater1"></div>
<style>
.container .skater1::after{
filter:invert(1);
background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F66.media.tumblr.com%2F8210fd413c5ce209678ef82d65731443%2Ftumblr_mjphnqLpNy1s5jjtzo1_400.gifv&f=1&nofb=1') no-repeat;
content: '';
background-size: 250px;
  display: block;
  width: 250px;
  height: 250px;
  z-index: 999;
  position: absolute;
  top: 260px;
left: 995px;
}
</style>
<div class="skater2"></div>
<style>
.container .skater2::after{
filter:invert(1);
background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F1ziQecqMoIJJu57giP%2Fgiphy.gif&f=1&nofb=1') no-repeat;
content: '';
background-size: 250px;
  display: block;
  width: 250px;
  height: 250px;
  z-index: 999;
  position: absolute;
  top: 1250px;
left: -200px;
  -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
</style>
<style>
body {cursor: url('https://www.rw-designer.com/cursor-extern.php?id=91282');}
</style>
<div class="skater3"></div>
<style>
.container .skater3::after{
filter:invert(1);
background: url('https://cdn.discordapp.com/attachments/608396423024738367/939088108488630272/dude-doing-heelflip2.gif') no-repeat;
content: '';
background-size: 300px;
  display: block;
  width: 300px;
  height: 300px;
  z-index: 999;
  position: absolute;
  top: -150px;
left: -325px;
  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
</style>
<div class="skater4"></div>
<style>
.container .skater4::after{
filter:invert(1);
background: url('https://cdn.discordapp.com/attachments/608396423024738367/939088108761276497/dude-doing-kickflip2.gif') no-repeat;
content: '';
background-size: 300px;
  display: block;
  width: 300px;
  height: 300px;
  z-index: 999;
  position: absolute;
  top: 900px;
left: 1000px;
  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  transform: scaleX(-1);
}
</style>
<div class="breakerunderline"></div>
<style>
.container .breakerunderline::after{
filter:invert(1);
background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.starpng.com%2Fpublic%2Fuploads%2Fpreview%2Fgraffiti-svg-png-image-transparent-101576599745dtz7vqcshe.png&f=1&nofb=1') no-repeat;
content: '';
background-size: 200px;
  display: block;
  width: 200px;
  height: 200px;
  z-index: 999;
  position: absolute;
  top: 680px;
left: -300px;
-webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}
</style>
<style>
.links{
display:flex;justify-content:center;
}
</style>

///NEXT INPUT
comment on my profile or send me a DM. let's check the vibes ;P
<br/>

<strong>PLEASE HACK ME AND STALK ME AND TREATEN ME</strong>, imma call you out on my next dj set.
<br/>
<div style="display:flex;justify-content:center;">
<h2>im in this skatepart</h2></div>
<br/>
<div style="display:flex;justify-content:center;">
<iframe frameborder="0" width="100%" height="300px" src="https://www.youtube.com/embed/hPNCLJ-uAZY?controls=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
<div style="display:flex;justify-content:center;">
<h2>rare mix you wont find anywhere</h2></div>

<div class="loseite"><iframe width="100%" height="200%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1043212309&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/we_anno_domini" title="wead" target="_blank" style="color: #cccccc; text-decoration: none;">wead</a> · <a href="https://soundcloud.com/we_anno_domini/dj-s1st3rh00d-girls-nightcore-out-hardstyle-eurodancing-1" title="DJ S1st3rh00d &#x209A;&#x1D63;&#x2091;&#x209B;&#x2091;&#x2099;&#x209C;&#x209B; Girls Nightcore Out Hardstyle Eurodancing &#xD7;&#xBA;&#xB0;&#x201D;&#x2DC;`&#x201D;&#xB0;&#xBA;&#xD7;&#x2084;&#x2091;&#x1D65;&#x2090;&#x2098;&#x1D62;&#x2093;&#xD7;&#xBA;&#xB0;&#x201D;&#x2DC;`&#x201D;&#xB0;&#xBA;&#xD7;" target="_blank" style="color: #cccccc; text-decoration: none;">DJ S1st3rh00d ₚᵣₑₛₑₙₜₛ Girls Nightcore Out Hardstyle Eurodancing ×º°”˜`”°º×₄ₑᵥₐₘᵢₓ×º°”˜`”°º×</a></div></div>
<br/>
<div style="display:flex;justify-content:center;">
<h2>i made this animation cuz studies</h2></div>
<div style="display:flex;justify-content:center;"><iframe width="520" height="390" src="https://www.youtube.com/embed/JKYVnoGmATs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>

<style>
.general-about{
  position: relative;
  margin-top: 30px;
}
.general-about .details::before{
filter:invert(1);
background: url('https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/604780/b648ad99ee4630f7762f1ae0c597f8cc4b920962.png') no-repeat;
content: '';
background-size: 175px;
  display: block;
  width: 175px;
  height: 175px;
  z-index: 999;
  position: absolute;
  top: -10px;
left: -8px;
}
.general-about .profile-pic::before{
filter:invert(1);
  content: '';
  background: url('https://i.kym-cdn.com/photos/images/original/000/697/467/03e.gif') no-repeat;
  background-size: 150px;
  display: block;
  width: 150px;
  height: 100px;
  z-index: 999;
  position: absolute;
  top: -100px;
  left: 225px;
  -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
</style>
